#unity-text-input {
    background-color: rgb(42, 42, 42);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#unity-checkmark {
    background-color: rgb(42, 42, 42);
}

#MonsterNameButton {
    height: 40px;
}

#divider {
    background-color: rgba(96, 96, 96, 0.53);
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}
